@font-face {
  font-family: Telegraf;
  src: url(../fonts/TelegrafBold.otf);
}
@font-face {
  font-family: TelegrafRegular;
  src: url(../fonts/TelegrafRegular.otf);
}
/* @font-face {
  font-family: Kollektif;
  src: url(../fonts/Kollektif.ttf);
}
@font-face {
  font-family: KollektifItalic;
  src: url(../fonts/Kollektif-Italic.ttf);
} */
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
body{
  overflow-x: hidden;
}

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: white;
}
.firimg {
  height: 50%;
  width: 50%;
}
.firtimg {
  height: 100%;
  width: 100%;
  animation: myAnim 0.7s ease 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		transform: translateX(-500px);
	}

	100% {
		transform: translateX(-50px);
	}
}
.secimg {
    width: 100%;
}
.gradbg {
  height: 100%;
  background-image: linear-gradient(black, #141010);
}
.arr {
  height: 50px;
  width: 50px;
  position: relative;
}
.fontTele1 {
  font-family: "Telegraf";
  color: #dd3236;
}
.fontTele2 {
  font-family: "Telegraf";
  color: white;
}
.fontTele3 {
  font-family: "Telegraf";
  color: black;
  font-weight: 100;
}
.fontKolle2 {
  font-family: "Inter", sans-serif;
  font-style: italic;
  color: white;
  font-size: small;
}
hr {
  border: 0;
  margin: 1.35em auto;
  max-width: 100%;
  background-position: 50%;
  box-sizing: border-box;
  display: flex;
}
.slash-3 {
  height: 20px;
  background-image: linear-gradient(
    45deg,
    hsla(0, 0%, 5%, 0),
    hsla(0, 0%, 5%, 0) 33.33%,
    #dd3236 33.33%,
    #dd3236 66.67%,
    hsla(0, 0%, 5%, 0) 66.67%,
    hsla(0, 0%, 5%, 0) 100%
  );
  background-size: 50px 100%;
  width: 100%;
}

.up-down {
  animation: up-down linear 4s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: up-down linear 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: up-down linear 4s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: up-down linear 4s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: up-down linear 4s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes up-down {
  0% {
    transform: translate(1px, 20px);
  }
  24% {
    transform: translate(1px, 30px);
  }
  50% {
    transform: translate(1px, 12px);
  }
  74% {
    transform: translate(1px, 22px);
  }
  100% {
    transform: translate(1px, 22px);
  }
}

@-moz-keyframes up-down {
  0% {
    -moz-transform: translate(1px, 20px);
  }
  24% {
    -moz-transform: translate(1px, 30px);
  }
  50% {
    -moz-transform: translate(1px, 12px);
  }
  74% {
    -moz-transform: translate(1px, 22px);
  }
  100% {
    -moz-transform: translate(1px, 22px);
  }
}

@-webkit-keyframes up-down {
  0% {
    -webkit-transform: translate(1px, 20px);
  }
  24% {
    -webkit-transform: translate(1px, 30px);
  }
  50% {
    -webkit-transform: translate(1px, 12px);
  }
  74% {
    -webkit-transform: translate(1px, 22px);
  }
  100% {
    -webkit-transform: translate(1px, 22px);
  }
}

@-o-keyframes up-down {
  0% {
    -o-transform: translate(1px, 20px);
  }
  24% {
    -o-transform: translate(1px, 30px);
  }
  50% {
    -o-transform: translate(1px, 12px);
  }
  74% {
    -o-transform: translate(1px, 22px);
  }
  100% {
    -o-transform: translate(1px, 22px);
  }
}

@-ms-keyframes up-down {
  0% {
    -ms-transform: translate(1px, 20px);
  }
  24% {
    -ms-transform: translate(1px, 30px);
  }
  50% {
    -ms-transform: translate(1px, 12px);
  }
  74% {
    -ms-transform: translate(1px, 22px);
  }
  100% {
    -ms-transform: translate(1px, 22px);
  }
}

.sketchy {
  /* border-radius: 50px 50px 0 0;
  background-color: #141010; */
  padding: 5px;
  border-radius: 50px 50px 0 0;
  background: #141010;
  box-shadow: 28px 28px 57px #080606, -28px -28px 57px #201a1a;
}

.inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/nature/side.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.conti {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

.scrl {
  scale: 0.8;
  opacity: 0;
  animation: fade-in linear forwards;
  animation-timeline: view();
  /* animation-range: entry 300px; */
}

@keyframes fade-in {
  to {
    scale: 1;
    opacity: 1;
  }
}

.modelDiv {
  height: 90%;
  left: auto;
  position: relative;
  margin: 0 auto;
  right: auto;
  width: 90%;
}
.modelDivFont {
  position: relative;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.modelBg {
  background-image: url("../img/nature/w11.png");
  background-size: auto;
  background-position: bottom;
  margin: 0 auto;
  max-width: 1440px;
  top: 0;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  height: calc(100% + 20px);
  background-repeat: no-repeat;
  /* margin-bottom: 50px; */
}

/* .modelBg img {
  position: absolute;
  margin-top: -10px;
} */

.modelBtnR {
  background-image: url("../img/logo/button.png");
  right: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border: 0;
  z-index: 1;
}

.modelBtnL {
  background-image: url("../img/logo/button.png");
  left: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  width: 50px;
  height: 50px;
  border: 0;
  z-index: 1;
}
.stats {
  display: flex;
  left: 7%;
  top: calc(10%+55px);
  position: absolute;
  border-color: #ff0006;
  border-style: solid;
  opacity: 50%;
  border-radius: 2em;
  padding: 20px 20px 0 20px;
  background: linear-gradient(
    50deg,
    rgba(255, 255, 255, 0.4) 12%,
    rgba(255, 255, 255, 0.1) 77%
  );
  box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.28);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.stats_font {
  font-family: "Telegraf";
  color: white;
  padding: 0 10px 0 0;
}
.statsIcons {
  min-width: 25px;
  max-width: 30px;
  padding: 0 10px 0 0;
}
.stats_num {
  font-family: "Telegraf";
  color: white;
  text-align: end;
  padding: 0 0 0 10px;
}


.workimg {
  animation: easey 2s ease 0s 1 normal forwards;
}

@keyframes easey {
	0% {
		transform: translateX(700px); 
	}

	100% {
		transform: translateX(200px);
	}
}

.workimg1 {
  animation: easey1 2s ease 0s 1 normal forwards;
}

@keyframes easey1 {
	0% {
		transform: translateX(700px); 
	}

	100% {
		transform: translateX(250px);
	}
}

.workimg2 {
  animation: easey2 2s ease 0s 1 normal forwards;
}

@keyframes easey2 {
	0% {
		transform: translateX(700px); 
	}

	100% {
		transform: translateX(300px);
	}
}






/* redbars */
.bar {
  width: 700px;
  height: 30px;
  background-color: #dd3236;
  opacity: 0;
  position: relative;
  margin-bottom: 10px;
  border-radius: 0.5em;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* Keyframe animations */
@keyframes driftFromRightBox1 {
  from {
    opacity: 0;
    transform: translateX(200%);
  }
  to {
    opacity: 1;
    transform: translateX(20%);
  }
}

@keyframes driftFromRightBox2 {
  from {
    opacity: 0;
    transform: translateX(200%);
  }
  to {
    opacity: 1;
    transform: translateX(25%);
  }
}

@keyframes driftFromRightBox3 {
  from {
    opacity: 0;
    transform: translateX(200%);
  }
  to {
    opacity: 1;
    transform: translateX(30%);
  }
}






/* svg waves */
.waves > use {
  animation: move-forever 2s -2s linear infinite;
}

.waves > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 6s;
}
.waves > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 3s;
}

@keyframes move-forever {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

svg {
  /* position: absolute; */
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30vw;
  max-height: 200px;
}