@font-face {
  font-family: Telegraf;
  src: url(../fonts/TelegrafBold.otf);
}
@font-face {
  font-family: TelegrafRegular;
  src: url(../fonts/TelegrafRegular.otf);
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
body, html {
  overflow-x: hidden;
}

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: white;
}
.firimg {
  height: 50%;
  width: 50%;
}
.firtimg {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: -1;
  animation: myAnim 0.7s ease 0s 1 normal forwards;
}

@keyframes myAnim {
  0% {
    transform: translateX(-500px);
  }

  100% {
    transform: translateX(-50px);
  }
}
.secimg {
  width: 100%;
}
.gradbg {
  height: 100%;
  background-image: linear-gradient(black, #141010);
}
.arr {
  height: 50px;
  width: 50px;
  position: relative;
}
.fontTele1 {
  font-family: "Telegraf";
  color: #dd3236;
}
.fontTele2 {
  font-family: "Telegraf";
  color: white;
}
.fontTeleH1 {
  font-family: "Telegraf";
  color: #dd3236;
  font-size: 60px;
  margin-top: -30px;
  text-align: start;
  z-index: 1;
}
.fontTeleH2 {
  font-family: "Telegraf";
  color: white;
  font-size: 40px;
  text-align: end;
  margin-top: -10px;
}
.fontTeleW1 {
  font-family: "Telegraf";
  color: #dd3236;
  font-size: 60px;
}
.fontTeleW2 {
  font-weight: 700;
  font-style: italic;
  color: white;
  font-size: 45px;
}
.fontTele3 {
  font-family: "Telegraf";
  color: black;
  font-weight: 100;
}
.fontInter {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}
.fontInter1 {
  font-family: "Inter", sans-serif;
  color: white;
  margin-bottom: 30px;
}
.fontInter2 {
  font-family: "Inter", sans-serif;
  font-style: italic;
  color: white;
  font-size: small;
}
hr {
  border: 0;
  margin: 1.35em auto;
  max-width: 100%;
  background-position: 50%;
  box-sizing: border-box;
  display: flex;
}
.slash-3 {
  height: 20px;
  background-image: linear-gradient(
    45deg,
    hsla(0, 0%, 5%, 0),
    hsla(0, 0%, 5%, 0) 33.33%,
    #ff0004 33.33%,
    #ff0004 66.67%,
    hsla(0, 0%, 5%, 0) 66.67%,
    hsla(0, 0%, 5%, 0) 100%
  );
  background-size: 50px 100%;
  width: 100%;
}

.up-down {
  position: relative;
  animation: upDown 1s infinite alternate;
}

@keyframes upDown {
  0% {
    top: 0;
  }
  100% {
    top: 30px;
  }
}

/* model viewer */
.modelDiv {
  height: 90%;
  left: auto;
  position: relative;
  margin: 0 auto;
  right: auto;
  width: 90%;
}
.modelDivFont {
  position: relative;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.modelBg {
  background-image: url("../img/main/w11.png");
  background-size: auto;
  background-position: bottom;
  margin: auto;
  max-width: 1920px;
  top: 0;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  height: calc(100% + 20px);
  background-repeat: no-repeat;
}

.modelBtnR {
  background-image: url("../img/logo/button.png");
  right: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border: 0;
  z-index: 1;
}

.modelBtnL {
  background-image: url("../img/logo/button.png");
  left: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  width: 50px;
  height: 50px;
  border: 0;
  z-index: 1;
}
.stats {
  display: flex;
  left: 7%;
  top: calc(10%+55px);
  position: absolute;
  border-color: #ff0006;
  border-style: solid;
  opacity: 50%;
  border-radius: 2em;
  padding: 20px 20px 0 20px;
  background: linear-gradient(
    50deg,
    rgba(255, 255, 255, 0.4) 12%,
    rgba(255, 255, 255, 0.1) 77%
  );
  box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.28);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.stats_font {
  font-family: "Telegraf";
  color: white;
  padding: 0 10px 0 0;
}
.statsIcons {
  min-width: 25px;
  max-width: 30px;
  padding: 0 10px 0 0;
}
.stats_num {
  font-family: "Telegraf";
  color: white;
  text-align: end;
  padding: 0 0 0 10px;
}

.workimg {
  animation: easey 2s ease 0s 1 normal forwards;
}

@keyframes easey {
  0% {
    transform: translateX(700px);
  }

  100% {
    transform: translateX(200px);
  }
}

.workimg1 {
  animation: easey1 2s ease 0s 1 normal forwards;
}

@keyframes easey1 {
  0% {
    transform: translateX(700px);
  }

  100% {
    transform: translateX(250px);
  }
}

.workimg2 {
  animation: easey2 2s ease 0s 1 normal forwards;
}

@keyframes easey2 {
  0% {
    transform: translateX(700px);
  }

  100% {
    transform: translateX(300px);
  }
}

/* redbars */
.bar {
  width: 700px;
  height: 50px;
  background-color: #dd3236;
  opacity: 0;
  position: relative;
  margin-bottom: 5px;
  border-radius: 0.5em;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  display: flex;
}

/* Keyframe animations */
@keyframes driftFromRightBox1 {
  from {
    opacity: 0;
    transform: translateX(200%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes driftFromRightBox2 {
  from {
    opacity: 0;
    transform: translateX(200%);
  }
  to {
    opacity: 1;
    transform: translateX(5%);
  }
}

@keyframes driftFromRightBox3 {
  from {
    opacity: 0;
    transform: translateX(200%);
  }
  to {
    opacity: 1;
    transform: translateX(10%);
  }
}

.webby {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;

  place-items: center;
}

.cc {
  grid-column: 1/3;
}
.cc img {
  width: 300px;
}
.bk {
  grid-column: 2/4;
  align-self: flex-start;
  margin-left: 50px;
}
.bk img {
  width: 125px;
}
.gf {
  grid-column: 2/-1;
  align-self: flex-end;
}

.cc,
.gf,
.bk {
  grid-row: 1/2;
}

.soc {
  margin: auto;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.soc img {
  width: 75px;
  height: 75px;
  max-width: 50px;
  max-height: 50px;
  margin-bottom: 20px;
}

.con_img {
  max-width: 40px;
  max-height: 40px;
}

/* Media Query */

@media screen and (max-width: 1024px) {
  .hide {
    display: none;
  }
  .expand {
    width: 100%;
  }
  .modelBg {
    max-width: 1024px;
    margin-bottom: 100px;
    background-position: center;
  }
  body {
    overflow-x: hidden;
  }
}
@media screen and (max-width: 768px) {
  .modelBg {
    max-width: 600px;
    margin-bottom: 100px;
    background-position: center;
  }
  .firtimg {
    animation: myAnim 0.7s ease 0s 1 normal forwards;
  }
  
  @keyframes myAnim {
    0% {
      transform: translateX(-500px);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  .fontTeleH1 {
    font-size: 40px;
    margin-top: 0;
    text-align: center;
  }
  .fontTeleH2 {
    font-size: 20px;
    text-align: center;
  }
  .fontTele2{
    font-size: 15px;
  }
  .fontInter{
    font-size: 20px;
  }
  model-viewer {
    width: 70% !important;
  }
}

@media screen and (max-width: 600px) {
  .modelBg {
    max-width: 400px;
    margin-bottom: 100px;
    background-position: center;
  }
}
