@font-face {
  font-family: Telegraf;
  src: url(../fonts/TelegrafBold.otf);
}
@font-face {
  font-family: TelegrafRegular;
  src: url(../fonts/TelegrafRegular.otf);
}
@font-face {
  font-family: Kollektif;
  src: url(../fonts/Kollektif.ttf);
}
@font-face {
  font-family: KollektifItalic;
  src: url(../fonts/Kollektif-Italic.ttf);
}
* {
  font-family: "Kollektif";
  color: white;
}
.firimg {
  height: 50%;
  width: 50%;
}
.secimg {
  height: 100%;
  width: 100%;
}
.gradbg {
  height: 100%;
  background-image: linear-gradient(#141010, black);
}
.arr {
  height: 50px;
  width: 50px;
  margin: 0 auto;
}
.fontTele1 {
  font-family: "Telegraf";
  color: #dd3236;
}
.fontTele2 {
  font-family: "Telegraf";
  color: white;
}
.fontTele3 {
  font-family: "Telegraf";
  color: black;
  font-weight: 100;
}
.fontKolle2 {
  font-family: "KollektifItalic";
  color: white;
  font-size: small;
}
hr {
  border: 0;
  margin: 1.35em auto;
  max-width: 100%;
  background-position: 50%;
  box-sizing: border-box;
  display: flex;
}
.slash-3 {
  height: 20px;
  background-image: linear-gradient(
    45deg,
    hsla(0, 0%, 5%, 0),
    hsla(0, 0%, 5%, 0) 33.33%,
    #dd3236 33.33%,
    #dd3236 66.67%,
    hsla(0, 0%, 5%, 0) 66.67%,
    hsla(0, 0%, 5%, 0) 100%
  );
  background-size: 50px 100%;
  width: 100%;
}

.up-down {
  animation: up-down linear 4s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: up-down linear 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: up-down linear 4s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: up-down linear 4s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: up-down linear 4s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes up-down {
  0% {
    transform: translate(1px, 20px);
  }
  24% {
    transform: translate(1px, 30px);
  }
  50% {
    transform: translate(1px, 12px);
  }
  74% {
    transform: translate(1px, 22px);
  }
  100% {
    transform: translate(1px, 22px);
  }
}

@-moz-keyframes up-down {
  0% {
    -moz-transform: translate(1px, 20px);
  }
  24% {
    -moz-transform: translate(1px, 30px);
  }
  50% {
    -moz-transform: translate(1px, 12px);
  }
  74% {
    -moz-transform: translate(1px, 22px);
  }
  100% {
    -moz-transform: translate(1px, 22px);
  }
}

@-webkit-keyframes up-down {
  0% {
    -webkit-transform: translate(1px, 20px);
  }
  24% {
    -webkit-transform: translate(1px, 30px);
  }
  50% {
    -webkit-transform: translate(1px, 12px);
  }
  74% {
    -webkit-transform: translate(1px, 22px);
  }
  100% {
    -webkit-transform: translate(1px, 22px);
  }
}

@-o-keyframes up-down {
  0% {
    -o-transform: translate(1px, 20px);
  }
  24% {
    -o-transform: translate(1px, 30px);
  }
  50% {
    -o-transform: translate(1px, 12px);
  }
  74% {
    -o-transform: translate(1px, 22px);
  }
  100% {
    -o-transform: translate(1px, 22px);
  }
}

@-ms-keyframes up-down {
  0% {
    -ms-transform: translate(1px, 20px);
  }
  24% {
    -ms-transform: translate(1px, 30px);
  }
  50% {
    -ms-transform: translate(1px, 12px);
  }
  74% {
    -ms-transform: translate(1px, 22px);
  }
  100% {
    -ms-transform: translate(1px, 22px);
  }
}

.sketchy {
  /* border-radius: 50px 50px 0 0;
  background-color: #141010; */
  padding: 5px;
  border-radius: 50px 50px 0 0;
  background: #141010;
  box-shadow: 28px 28px 57px #080606, -28px -28px 57px #201a1a;
}

.inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/nature/side.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.conti {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

.scrl {
  scale: 0.8;
  opacity: 0;
  animation: fade-in linear forwards;
  animation-timeline: view();
  /* animation-range: entry 300px; */
}

@keyframes fade-in {
  to {
    scale: 1;
    opacity: 1;
  }
}

.modelDiv {
  height: 90%;
  left: auto;
  position: relative;
  margin: 0 auto;
  right: auto;
  width: 90%;
}
.modelDivFont {
  position: relative;
  text-align: center;
}
.modelBg {
  background-image: url("../img/nature/w11.jpg");
  background-size: auto;
  background-position: bottom;
  margin: 0 auto;
  max-width: 1920px;
  top: 0;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  height: calc(100% + 20px);
  background-repeat: no-repeat;
  /* margin-bottom: 50px; */
}

.modelBg img {
  position: absolute;
  margin-top: -10px;
}

.pyramid-loader {
  position: relative;
  width: 300px;
  height: 300px;
  display: block;
  transform-style: preserve-3d;
  transform: rotateX(-20deg);
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotateY(360deg);
  }
}

.pyramid-loader .wrapper .side {
  width: 70px;
  height: 70px;
  /* you can choose any gradient or color you want */
  /* background: radial-gradient( #2F2585 10%, #F028FD 70%, #2BDEAC 120%); */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform-origin: center top;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.pyramid-loader .wrapper .side1 {
  transform: rotateZ(-30deg) rotateY(90deg);
  /* background: conic-gradient( #2BDEAC, #F028FD, #D8CCE6, #2F2585); */
  background-image: url("../img/logo/ag.png");
}

.pyramid-loader .wrapper .side2 {
  transform: rotateZ(30deg) rotateY(90deg);
  /* background: conic-gradient( #2F2585, #D8CCE6, #F028FD, #2BDEAC); */
  background-image: url("../img/logo/ag.png");
}

.pyramid-loader .wrapper .side3 {
  transform: rotateX(30deg);
  /* background: conic-gradient( #2F2585, #D8CCE6, #F028FD, #2BDEAC); */
  background-image: url("../img/logo/ag.png");
}

.pyramid-loader .wrapper .side4 {
  transform: rotateX(-30deg);
  /* background: conic-gradient( #2BDEAC, #F028FD, #D8CCE6, #2F2585); */
  background-image: url("../img/logo/ag.png");
}

.pyramid-loader .wrapper .shadow {
  width: 100%;
  height: 100%;
  background: #8b5ad5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: rotateX(90deg) translateZ(-40px);
  filter: blur(12px);
}
